<div id="contact_us">
  <div id="map">
    <div id="contact">
      <form>
        <h2>Get in touch</h2>
        <div class="contentform">
          <div class="leftcontact">
            <div class="form-group">
              <input type="text" name="prenom" id="prenom" required placeholder="Name" />
              <div class="validation"></div>
            </div>

            <div class="form-group">
              <input type="email" name="email" id="email" required placeholder="Email"/>
              <div class="validation"></div>
            </div>
          </div>

          <div class="rightcontact">


            <div class="form-group">
              <textarea name="message" rows="14" required placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
          </div>
        </div>
        <button type="submit" class="bouton-contact">Send</button>

      </form>

    </div>
    <iframe width="100%" height="400" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=SGSITS&key=AIzaSyASteBRJUkoQCpgu7OcmaPLdn9APJ2m1Ag"
      allowfullscreen></iframe>
  </div>

</div>