<section>
    <div class="featured-post-carousel" >
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                  <div class="overlay">
                  <img src="{{ slide.img }}" alt=""/>
                  </div>
                  <div class="featured-post-content">
                        <h1 class="featured-post-title">
                          {{slide.topic}}
                        </h1>
                        <div class="featured-post-excerpt">
                          <div class="article-everything"><p>{{slide.short_desc}}</p></div>
                        </div>
                        <hr class="hr">
                        <div class="featured-post-meta">
                          <div class="date meta-item">
                            {{slide.start}} &nbsp; | &nbsp; {{slide.venue}} &nbsp; | <div style="display: inline" ><a routerLink="/events">Register</a></div>
                          </div>
                        </div>
                      </div>
            </div>
        </ngx-slick>
    </div>
  </section>
