<h1>CONTACT PAGE</h1>
<div>
  <form>
    <div>
      <label for="name">NAME</label>
      <input type="text" value="name">
    </div>
    <div>  
      <label for="email">EMAIL</label>
      <input type="text" value="email">
    </div>
    <div>  
      <label for="subject">SUBJECT</label>
      <input type="text" value="subject">
    </div>
    <div>  
      <label for="name"></label>
      <textarea rows="6" cols="60">Enter Your Query</textarea>
    </div>
    <div>
      <input type="submit">
    </div>
    </form>
</div>
