<!-- Controllers-->

<!-- Cards-->
<div *ngFor="let event of events">
<div class="card card--big" >
    <div class="card" >
        <div class="card__image" style="background-image: url({{event.img}})"></div>
        <h2 class="card__title">{{event.title}}</h2>
        <p class="card__text">{{event.content}}</p>
        <div class="card__action-bar">
          <button class="card__button">SHARE</button>
          <button class="card__button">LEARN MORE</button>
        </div>
      </div>
</div>
</div>
