<footer>
  <div class="footer">
    <span id="left">
      <img src="/assets/linkedin.svg">
      <img src="/assets/instagram.svg">
      <img src="/assets/facebook.svg">
      <img src="/assets/google-plus.svg">
    </span>
  <span id ="center">
    <img src="/assets/google-plus.svg">
  </span>
  <span id ="right">
    <img src="/assets/google-plus.svg">
    <img src="/assets/google-plus.svg">
    <img src="/assets/google-plus.svg">
    <img src="/assets/google-plus.svg"> 
  </span>
  </div>
</footer>
