<footer class="footer-distributed">
    <div class="footer-wrapper container">
      <!-- <div class="footer-left-most">
        <div class="footer-logo">
        </div>
        <app-social-icons></app-social-icons>
      </div> -->
      <div class="shortcut">
      <div class="footer-left">
        <div class="footer-links">
          <div class="heading">Company</div>
          <div><a href="#">Home</a></div>
          <div><a href="#">Team</a></div>
          <div><a href="#">Events</a></div>
          <div><a href="#">Projects</a></div>

        </div>
      </div>
      <div class="footer-center">
          <div class="footer-links">
            <div class="heading">Links</div>
            <div><a href="#">Sitemap</a></div>
            <div><a href="#">Privacy Policy</a></div>
          </div>
        </div>
    </div>
    </div>
  </footer>
  <div class="footer-bottom">
    <p class="footer-company-name">Copyright &copy; Codefoster. All rights reserved.</p>
  </div>
  