<app-nav-bar></app-nav-bar>
<app-carousel></app-carousel>
<div id="golden_circle">
  <div id="why">
    <p class="heading">Why</p>
    <p class="content">The scientific study of presidential elections arguably dates back to a 1948 book called The People's Choice. With the development of mass media at that time (the radio), and further in time, with the advent of television (print media included) and now with phones and tablets, elections and politics around the world are followed and analyzed in a curious manner, now a days.</p>
  </div>
  <div id="how">
<p class="content">The scientific study of presidential elections arguably dates back to a 1948 book called The People's Choice. With the development of mass media at that time (the radio), and further in time, with the advent of television (print media included) and now with phones and tablets, elections and politics around the world are followed and analyzed in a curious manner, now a days.</p>
<p  class="heading">How</p>
</div>
  <div id="what">
    <p  class="heading">What</p>
<p  class="content">The scientific study of presidential elections arguably dates back to a 1948 book called The People's Choice. With the development of mass media at that time (the radio), and further in time, with the advent of television (print media included) and now with phones and tablets, elections and politics around the world are followed and analyzed in a curious manner, now a days.</p>
  </div>
</div>
