<app-carousel></app-carousel>
<div id="golden_circle">
  <div id="why" class="section-div">
    <p class="content">The scientific study of presidential elections arguably dates back to a 1948 book called The People's Choice. With the
      development of mass media at that time (the radio), and further in time, with the advent of television (print media
      included) and now with phones and tablets, elections and politics around the world are followed and analyzed in a curious
      manner, now a days.</p>
    <img src="/assets/why.png" class="heading" />
  </div>
  <div id="how" class="section-div">
    <img src="/assets/how.svg" class="heading" />
    <p class="content">The scientific study of presidential elections arguably dates back to a 1948 book called The People's Choice. With the
      development of mass media at that time (the radio), and further in time, with the advent of television (print media
      included) and now with phones and tablets, elections and politics around the world are followed and analyzed in a curious
      manner, now a days.</p>
  </div>
  <div id="what" class="section-div">
    <p class="content">The scientific study of presidential elections arguably dates back to a 1948 book called The People's Choice. With the
      development of mass media at that time (the radio), and further in time, with the advent of television (print media
      included) and now with phones and tablets, elections and politics around the world are followed and analyzed in a curious
      manner, now a days.</p>
    <img src="/assets/what.png" class="heading" />
  </div>
</div>
<app-team-profile-card></app-team-profile-card>
