#golden_circle{
    width:99%;
    margin:auto;
    display:flex;
    flex-direction: column;
}
.section-div{
    margin-top:3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#why{
  font-size: 120%;
}
#what{
  font-size: 120%;
}
#how{
  font-size: 120%;  
}

.heading{
border-radius: 50%;
width:30%;
height:100%;
}
.content{
    text-align: justify;
    width:60%;
    margin: auto;
  font-family: 'Lato',  sans-serif;


    line-height: 2.5rem;

}
body{
  background-image: url('/assets/background.jpg');
}
#map {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 25px 0;
   }
   iframe {
    margin: 0px;
    padding: 0px;
    border: none;
   }
   #contact {
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    height: 400px;
    width: 40%;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius:2px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

  
  .info p {
    text-align:center;
    color: #999;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
  }
  
  form h2 {
    font-size: 25px;
    color: white !important;
    padding: 0;
    margin: auto;
    text-shadow: none; 
    text-align: center;
    margin-bottom: 1rem;
  }
  
  form {
    margin: 5% auto;
    overflow: hidden;
  }
  
  p span {
    color: #F00;
  }
  
 .form-group p {
    margin: 0px;
    font-weight: 500;
    color:white;
  }
 
  
  input {
    border: 1px solid #eee;
    margin-bottom: 10px;
    width: 20rem;
    height: 40px;
    padding: 0 10px;
  }
  
  a {
    text-decoration:inherit
  }
  
  textarea {
    border: 1px solid #EEE;
    margin-bottom: 5px;
    width: 100%;
    height: 120px; 
    padding: 5px 6px;
    resize: none;
    box-sizing: border-box;
  }
  
  .form-group {
    overflow: hidden;
    clear: both;
  }
  
 
  

  
  .bouton-contact{
    background-color: #03A9F4;
    color: #FFF;
    text-align: center;
    width: 40%;
    border:0;
    padding: 17px 25px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    transition: all 0.5s;
  }

  .bouton-contact:hover{
    background-color: #0277BD;


  }
 
  
  .validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
  }
  
  #sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
  }
  
  #sendmessage.show,.show  {
    display:block;
  }

  @media screen and (max-width: 700px) {
    iframe{
      visibility:hidden;
    }
    #contact{
      left:50%;
      transform: translateX(-50%);
      width: 95%;
    }


  .bouton-contact{
    margin-top:5px;
  }
  .section-div{
    flex-direction: column;
  }
  .heading{
    margin: auto;
  }
  .section-div:nth-of-type(1), .section-div:nth-of-type(3){
    flex-direction: column-reverse;
  }
  }
  @media screen and (max-width: 500px) {
    iframe{
      visibility:hidden;
      }
    #contact{
      left:50%;
      transform: translateX(-50%);
      width: 95%;
    }
      .heading{
        margin: auto;
        width: 60%;
      }
    
    .content{
      width:100% ;
      
    }
    input{
      width: 100%;
    }
    .bouton-contact{
      width: 50%;
    }
  }