<header class="header-content">

    <nav class="header-nav">
      <div id="logo">
        <img src="/assets/cf_logo_mini_hr.png"/>
      </div>
      <ul class="menu-items">
        <li class="menu-item">
          <a routerLink="/"  class="link link--mallki" href="#" data-letters="Home" href="events" id="idea">Home</a>
        </li>
        <li class="menu-item">
          <a href="." class="link link--mallki" href="#" data-letters="Events" href="events" id="idea">Events</a>
        </li>
        <li class="menu-item">
            <a href="." class="link link--mallki" href="#" data-letters="Team" href="events" id="idea">Team</a>
          </li>
        <li class="menu-item">
          <a href="#" class="link link--mallki" href="#" data-letters="Contact" href="events" id="idea">Contact</a>
        </li>
        <li class="menu-item">
            <a href="#" class="link link--mallki" href="#" data-letters="Project" href="events" id="idea">Project</a>
          </li>
      </ul>
    </nav>
  </header>