nav{
    display:flex;
    flex-direction: row;
}

header{
		background-color: #fafafa;
		    border-bottom:1px solid #e4e4e4;
    width:100%;
margin-bottom: 5px;

}

nav #logo{
    width:15%;
}
@font-face {
    font-family: 'pirulen';
    src: url('/assets/pirulenrg.ttf');
    src: url('/assets/pirulenrg.ttf') format('embedded-opentype'),
         url('/assets/pirulenrg.ttf') format('woff'),
         url('/assets/pirulenrg.ttf') format('truetype'),
         url('/assets/pirulenrg.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul{
    width:100%;
    justify-content: flex-end;
    display:flex;
    list-style-type: none;
    flex-direction:row;
    align-items: center;
}

ul li {
    padding:0 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    /* font-family: pirulen; */
}

a{
    text-decoration: none;
    color:black;
}
.link {

	position: relative;
	display: inline-block;
}

.link--mallki {
	text-transform: uppercase;
	overflow: hidden;
}

.link--mallki:hover {
	-webkit-transition: none;
	transition: none;
}

.link--mallki::before {
	content: '';
	width: 100%;
	height: 6px;
	margin: -3px 0 0 0;
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--mallki:hover::before {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link--mallki span {
	position: absolute;
	height: 50%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

.link--mallki span::before {
	content: attr(data-letters);
	color: red;
	position: absolute;
	left: 0;
	width: 100%;
	color: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--mallki span:nth-child(2) {
	top: 50%;
}

.link--mallki span:first-child::before {
	top: 0;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.link--mallki span:nth-child(2)::before {
	bottom: 0;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.link--mallki:hover span::before {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menuButton {
	padding:34px 0;
	position:absolute;
	right:20px;
	z-index: 12;
	display: none;
  }
  
  .btn {
	display:block;
	height:7px;
	width:50px;
	z-index:12;
	margin-left:10px;
	background:#000;
	position:relative;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
  }
  
  .btn::before {
	  content:'';
	  position:absolute;
	  top:-15px;
	  left:0;
	  width:50px;
	  height:7px;
	  background:black;
	  -moz-transition-duration: .2s;
	  -o-transition-duration: .2s;
	  -webkit-transition-duration: .2s;
	  transition-duration: .2s;
  }
	
  .btn::after {
	  content:'';
	  position:absolute;
	  top:15px;
	  left:0;
	  width:50px;
	  height:7px;
	  background:black;
	  -moz-transition-duration: .2s;
	  -o-transition-duration: .2s;
	  -webkit-transition-duration: .2s;
	  transition-duration: .2s;
  }
  
  
  .activeBtn {
	background:transparent;
  }
  
  .activeBtn::before {
	  -webkit-transform:rotate(45deg);
	  top:0;
  }
	
  .activeBtn::after {
	  -webkit-transform:rotate(-45deg);
	  top:0;
  }
  
  #overmenu{
	  position: fixed;
	  top:0;
	  left:0;
	  background:rgba(0,0,0,0.5);
	  width:100%;
	  margin-left:-100%;
	  height:100%;
	  z-index: 10;
	  opacity:1;
  }
  
  #overmenu span{
	  padding:5px 7px;
  }
  
  #overmenu ul {
	  position: relative;
	  display:flex;
	  flex-direction: column;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%,-50%);
	  transform: translate(-50%,-50%);
  }
  
  #overmenu a {
	  color:#fff;
	  font-size: 50px;
	  font-weight: bold;
	  z-index: 12;
	  text-decoration:none;
  }
  
  
  #overmenu li {
	  list-style: none;
	  padding: 10px;
	  margin-bottom: 5%;
	  text-align: center;
  }
  
  .open {
	  left:200px;
  }
  
  ::selection {
	background: rgba(255,255,255, 0.99); /* WebKit/Blink Browsers */
	color: #EC6B56;
  }
  ::-moz-selection {
	background: rgba(255,255,255, 0.99); /* Gecko Browsers */
	color: #EC6B56;
  }
  ::-webkit-selection {
	background: rgba(255,255,255, 0.99); /* IE */
	color: #EC6B56;
  }
@media screen and (max-width:700px){
	.menu-items{
		display:none;
	}
	.menuButton{
		display: block;
	}
}