<header class="header-content">

    <nav class="header-nav">
      <div id="logo">
        <a routerLink="/"><img src="/assets/cf_logo_mini_hr.png"/></a>
      </div>
      <ul class="menu-items">
        <li class="menu-item">
          <a routerLink="/" routerLinkActive="active" class="link link--mallki"  data-letters="Home" >Home</a>
        </li>
        <li class="menu-item">
          <a routerLink="/events" class="link link--mallki" href="#" data-letters="Events">Events</a>
        </li>
        <li class="menu-item">
            <a routerLink="/team" class="link link--mallki" data-letters="Team">Team</a>
          </li>
        <li class="menu-item">
          <a href="#contact_us" class="link link--mallki" data-letters="Contact" >Contact</a>
        </li>
        <li class="menu-item">
            <a class="link link--mallki" routerLink="/projects" data-letters="Project" >Project</a>
          </li>
      </ul>
      <a class="menuButton" href="#">
        <div class="btn"></div>
      </a>
      
      <div id="overmenu">
        <ul>
          <li><a href="#"><span>Home</span></a></li>
          <li><a routerLink="/about"><span>About</span></a></li>
          <li><a routerLink="/events"><span>Event</span></a></li>
        </ul>
      </div>
      
    </nav>
  </header>
