
<h1>CODEFOSTER</h1>
<img src="/assets/about-header-2016.jpg">

<h2>About Us</h2>
<p>
    CodeFoster is a Platform for Aspiring Programmers. CodeFoster is the official programming club of the 
    college. This club work for hosting a programming competitions, organize training session etc. The 
    club organizes workshops on trending technologies to make students skillful with latest technologies 
    in software development.
</p>
<h2>Vision and Mission: </h2>
<p>
    The club believes in mutual learning and promotes IT based skills. We conduct events to 
    enhance the programming capabilities of students and to make an open and collaborative ecosystems 
    for promotion of Competitive Programming, Development Skills and Open Source Contributions among students.
</p>

<ul>
        <li>Start Year:2014</li>
        <li>SGSITS Indore</li>
        <li>Plenty of employees</li>
</ul>