<div class="container">
  <div class="wrapper">
    <header>
      dfsag
      <h1>{{description.topic}}</h1>
      <div class="bio">
        daf
        <img src="" alt="background" class="bg">
      </div>
    </header>

    <div class="content">
      <div class="data">
        <ul>
          <li>
            {{description.dates}} - {{description.datee}}
            <span>Times</span>
          </li>
          <li>
              {{description.amount}}
            <span>amount</span>
          </li>
          <li>
            {{description.venue}}
            <span>Venue</span>
          </li>

        </ul>
      </div>
    </div>
    <div>
      <h1>Description</h1>
      <p>{{ description.desc}}.</p>
    </div>
  </div>
  <div *ngIf="description.active">
    <div>
      <button (click)="form()">Register</button>
    </div>
    <div>
      <form action="" id="registerform">
        <div>
          <label for="name"> Name:</label>
          <input type="text" id="name" name="name" placeholder="Your name..">
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" placeholder="Your Email..">
        </div>
        <div>
          <label for="contactno">Phone Number:</label>
          <input type="text" id="number" name="number" placeholder="Your mobile number.." >
        </div>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>