<div class="container">
  <div class="wrapper">
    <header>
      <h1>{{description.topic}}</h1>
      <div class="bio">
        <img src="{{description.img}}" alt="background" class="bg">
      </div>
    </header>

    <div>
      <ul class="data">
        <li>
          {{description.dates}}
          <span>Start Date</span>
        </li>
        <li>
          {{description.venue}}
          <span>Venue</span>
        </li>
        <li>
          {{description.datee}}
          <span>End Date</span>
        </li>
      </ul>
    </div>
    <div>
      <h1>Description</h1>
      <p>{{ description.desc}}.</p>
    </div>
    <div>
      <a href="http://bit.ly/aayaamcsgo5v5">
        <button class="button">5 V/S 5</button>
      </a>
      <a href="http://bit.ly/aayaamcsgo1v1">
        <button class="button">1 V/S 1</button>
      </a>
    </div>
  </div>

</div>